{% extends "base.html" %}
{% block title %}Accessories{% endblock %}

{% block content %}
<main>
    <div class="container">
      <h2>Accessories</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product1.jpg" class="card-img-top" alt="Product 1">
            <div class="card-body">
              <h5 class="card-title">Beige Cat Tree</h5>
              <p class="card-text">239.99 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product2.jpeg" class="card-img-top" alt="Product 2">
            <div class="card-body">
              <h5 class="card-title">Flower Cat Tree</h5>
              <p class="card-text">245.99 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product3.jpeg" class="card-img-top" alt="Product 3">
            <div class="card-body">
              <h5 class="card-title">Scratching Ball</h5>
              <p class="card-text">56.39 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="w-100"></div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product4.jpg" class="card-img-top" alt="Product 4">
            <div class="card-body">
              <h5 class="card-title">Sphere Bed</h5>
              <p class="card-text">120.98 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product5.jpg" class="card-img-top" alt="Product 5">
            <div class="card-body">
              <h5 class="card-title">Scratching Turtle</h5>
              <p class="card-text">45.90 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product6.jpg" class="card-img-top" alt="Product 6">
            <div class="card-body">
              <h5 class="card-title">Window Hammok</h5>
              <p class="card-text">87.99 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        

        <div class="col-md-4">
          <div class="card">
            <img src="/static/product7.jpg" class="card-img-top" alt="Product 7">
            <div class="card-body">
              <h5 class="card-title">Fish Toy</h5>
              <p class="card-text">28.99 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product8.jpg" class="card-img-top" alt="Product 8">
            <div class="card-body">
              <h5 class="card-title">Water Dispenser</h5>
              <p class="card-text">59.90 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product9.jpg" class="card-img-top" alt="Product 9">
            <div class="card-body">
              <h5 class="card-title">Green Water Dispenser</h5>
              <p class="card-text">64.89 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        

        <div class="col-md-4">
          <div class="card">
            <img src="/static/product10.jpg" class="card-img-top" alt="Product 10">
            <div class="card-body">
              <h5 class="card-title">Water Dispenser and Food Bowl</h5>
              <p class="card-text">49.90 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product11.jpg" class="card-img-top" alt="Product 11">
            <div class="card-body">
              <h5 class="card-title">Cat Litter Box</h5>
              <p class="card-text">99.70 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card">
            <img src="/static/product12.jpg" class="card-img-top" alt="Product 12">
            <div class="card-body">
              <h5 class="card-title">Miau Miau Silicat</h5>
              <p class="card-text">71.49 RON</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
        <p>&copy; 2024 Meow Medical Center. All rights reserved.</p>
    </div>
  </footer> 

{% endblock %}

{% block extra_css %}
<style>
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #a2b1ff, #e397ef);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
    header {
      background-color: #a2b1ff;
      color: white;
      padding: 20px;
    }
  
    h1 {
      margin: 0;
    }
  
    nav {
      background-color: #a2b1ff;
      color: white;
      padding: 10px;
    }
  
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    nav ul li {
      display: inline;
      margin-right: 10px;
    }

    nav ul li:first-child {
        margin-left: 50px;
    }

    nav ul li:not(:last-child) {
        margin-right: 50px;
    }
  
    nav ul li a {
      color: white;
      text-decoration: none;
    }
  
    main {
      padding: 20px;
    }

    footer {
          background-color: #e397ef;
          color: white;
          padding: 20px;
          text-align: center;
        }

    .card {
        margin-bottom: 30px;
    }
    
  
    footer {
      background-color: #e397ef;
      color: white;
      padding: 20px;
      text-align: center;
    }
    
</style>
{% endblock %}