{% extends "base.html" %}
{% block title %}Account{% endblock %}

{% block content %}

<main>
    <h1 align="center">Your appointments</h1>
    {% if user.appointments %}
    <ul class="list-group list-group-flush" id="appointments">
        {% for appointment in user.appointments %}
        <li class="list-group-item">
            Date: {{ appointment.date }} <br>
            Time: {{ appointment.time }} <br>
            Activity: {{ appointment.activity.value }}
            <button type="button" class="cancel" onClick="cancelAppointment({{ appointment.id }})">
                <span aria-hidden="true">Cancel Appointment</span>
            </button>            
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No appointments scheduled.</p>
    {% endif %}

    <h1 align="center">Your meowtel reservations</h1>
    {% if user.reservations %}
    <ul class="list-group list-group-flush" id="reservations">
        {% for reservation in user.reservations %}
        <li class="list-group-item">
            Check-in date: {{ reservation.checkin }} <br>
            Check-out date: {{ reservation.checkout }} <br>
            Cat's name: {{ reservation.name }} <br>
            Breed: {{ reservation.breed }} <br>
            Age: {{ reservation.age }} 
            <button type="button" class="cancel" onClick="cancelReservation({{ reservation.id }})">
                <span aria-hidden="true">Cancel Reservation</span>
            </button>                      
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reservations scheduled.</p>

    {% endif %}
</main>

{% endblock %}

{% block extra_css %}
<style>
    html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;  /* This makes the main content to expand and take available space */
  }
  
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function cancelAppointment(appointmentId) {
        fetch("/cancel-appointment", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({appointmentId: appointmentId})
        }).then(response => {
            if(response.ok) {
                window.location.reload();  // Reload the page to update the list
            } else {
                alert("Failed to cancel appointment");
            }
        });
    }
    function cancelReservation(reservationId) {
        fetch("/cancel-reservation", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({reservationId: reservationId})
        }).then(response => {
            if(response.ok) {
                window.location.reload();  // Reload the page to update the list
            } else {
                alert("Failed to cancel reservation");
            }
        });
    }

</script>
{% endblock %}

