{% extends "base.html" %}
{% block title %}Grooming and Spa{% endblock %}

{% block content %}
<main>
  <div class="container">
    <h2>Grooming &amp; Spa Services</h2>
    <p>Pamper your feline friend with our top-notch grooming and spa services.</p>
    <p>At Meow Medical Center, we offer a range of grooming and spa services to keep your cats looking and feeling their best. Our experienced groomers provide gentle and stress-free grooming sessions, ensuring your furry companions are comfortable throughout the process.</p>
    <p>Whether it's a refreshing bath, a stylish haircut, or a soothing spa treatment, we tailor our services to meet your cat's unique needs. Our grooming experts use high-quality products and follow best practices to ensure your cat's safety and well-being.</p>
    <p>Our Grooming &amp; Spa Services include:</p>
    <ul>
      <li>Complete Bathing</li>
      <li>Brushing and Coat Care</li>
      <li>Sanitary Trimming</li>
      <li>Nail Clipping</li>
      <li>Ear Cleaning</li>
      <li>Stylish Haircuts</li>
      <li>Specialty Spa Treatments</li>
    </ul>
    <a href="/contact">Contact us today to schedule a grooming appointment for your beloved cat!</a>
  </div>
  </main>

{% endblock %}

{% block extra_css %}
<style>
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #a2b1ff, #e397ef);
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  
    header {
      background-color: #a2b1ff;
      color: white;
      padding: 20px;
    }
  
    h1 {
      margin: 0;
    }
  
    nav {
      background-color: #a2b1ff;
      color: white;
      padding: 10px;
    }
  
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    nav ul li {
      display: inline;
      margin-right: 10px;
    }

    nav ul li:first-child {
        margin-left: 50px;
    }

    nav ul li:not(:last-child) {
        margin-right: 50px;
    }
  
    nav ul li a {
      color: white;
      text-decoration: none;
    }
  
    main {
      padding: 20px;
    }
  
    footer {
      background-color: #e397ef;
      color: white;
      padding: 20px;
      text-align: center;
    }
    
    .image-container {
      display: flex;
      justify-content: space-around;
    }
    
    .image-container img {
      width: 50%;
      height: auto;
    }
    
    .image-container img:first-child {
      width: 25%;
    }
    
    .sub-image-container {
      display: flex;
      margin-top: 10px;
    }
    
    .sub-image-container img {
      width: 10%;
      height: auto;
      margin-right: 10px;
    }
    
    .sub-image-container p {
      width: 90%;
    }
    
    .form-control {
      width: 40%;
      margin: 10px auto;
    }
    
    .form-group label {
      text-align: right;
    }
</style>
{% endblock %}
